$color-white-one:#e2ddd3;
$color-white-two:#E4E5E7;
$color-white: #ffffff;

$color-dark-grey: #6569781c;
$color-medium-grey: #66686e;
$color-grey: #66686e;
$color-light-grey: #bbb;

$color-dark-yellow: #ffc107;
$color-orange: #fd7b38;
$color-light-orange: #fff2ec;
$color-purple: #a07dda;
$color-light-purple: #f6f2fc;
$color-green: #2eb67d;
$color-light-green: #ebf8f2;
$color-blue: #007aff;
$color-light-blue: #e6f2ff;
