@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body,
html {
  background-color: #e2ddd3;
  padding: 36px;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 36px;
}

body {
  background-color: #f7f6f4 !important;
}



label {
  display: block;
}

// .modal-dialog {
//   max-width: 750px !important;
//   margin: 1.75rem auto;
// }


// #root {
//   height: 100%;
// }

// .App {
//   height: 100%;
//   width: 100%;
// }

// .tile-container__side-menu {
//   background-color: #fff;
//   padding: 5px;
//   border: 1px solid #e4e5e7;
//   border-radius: 20px;
//   height: 100%;
// }

// .tile-container__panel {
//   background-color: #fff;
//   padding: 5px;
//   border: 1px solid #e4e5e7;
//   border-radius: 20px;
//   margin-top: 30px;
//   height: fit-content;
//   padding: 24px;
// }

// .tile-container__panel:first-of-type {
//   margin-top: 0px;
// }

// .containeritem {
//   min-height: 80%;
//   min-width: 80%;
// }

// .side-menu__ul {
//   margin-top: 30%;
//   padding-left: 16x;
//   list-style: none;
// }

// .side-menu-ul__li {
//   padding: 12px;
//   color: #66686e;
// }

// .side-menu-ul__li > .svg-inline--fa {
//   color: #fd7b38;
//   margin-right: 8px;
// }


